<div class="container">
<h2><%= @topic.title %></h2>
  <div class="row">
    <% @tools.each do |tool| %>
      <div class="col-md-3 d-flex">
        <div class="card mt-2">
              <div class="card-body">
                  <h3><%= link_to tool.title, topic_tool_path(topic_id: @topic, id: tool) %></h3>
                 <p> <%= tool.description %></p>
                  <p><%= tool.user.username %></p>
              </div>
          </div>
        </div>
    <% end %>
  
    <%= link_to 'New Tool', new_tool_path(topic_id: @topic.id) %>
  </div>
</div>