<div class="jumbotron">
<strong>Welcome <%= current_user.full_name %></strong>

<% if current_user.is_a?(OpenStruct) %>
  <%= link_to "Login", new_user_session_path %> or
  <%= link_to "Register", new_user_registration_path %>
<% else %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>


<%= current_user.email %>
</div>